//.browse-container
.recommened-projects-section {
	.slider {
		width: 101.5%;
		margin-left: -1%;
		.carousel-card-inner.__recommended {
			height: 360px;
			.carousel-card-image {
				svg {
					// color: $ruby-enchantment;
					color: white;
					padding: 10px;
					font-size: 1.8rem;
				}
				img {
					height: 181px;
				}
			}
		} // moved code below from out of __recommended so it wasn't so specific & could reach dark mode. -MW
		.carousel-card-body {
			height: calc(100% - 181px);
			.carousel-card-body-descript {
				a {
					// drills down to h5 inside of 'a' tag so it looks like a link. -MW
					color: $chillFi-purple;
					text-decoration: underline;
					@include nav-types(
						$anchor-color: $chillFi-purple,
						$hover-color: $black-void,
						$visit-color: $mirage
					);
				}
				.display-text-group {
					.displayed-text {
						.read-more-button {
						}
					}
				}
			}
			.carousel-card-body-money {
				div {
				}
				p {
				}
			}
		}
	}
}
.dark-mode {
	.recommened-projects-section {
		.slider {
			.carousel-card-body-descript {
				h5 {
					color: $sky-blue;
					text-decoration: underline;
					@include nav-types($anchor-color: $sky-blue, $visit-color: $sub-zero, $hover-color: $luigi);
				}
			}
		}
	}
}
