.dashboard-sidebar {
	height: inherit;
	width: 25%;
	text-align: center;
	@media(max-width:"850px") {
		min-width: 200px;

	}
	@media(max-width:"700px") {
		width: 100%;
	}
	.sidebar-top {
		.user-picture {
			height: 164px;
			overflow: hidden;
    		object-fit: cover;
			border-radius: 50%;
			@media(max-width: "700px") {
				height: 225px;
			}
		}
		h3 {
			color: $machiavellian;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.44px;
		}
		h6 {
			color: $blue-valentine;
			text-align: right;
		}
		p {
			color: $machiavellian;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.08px;
		}
	}
	.info-container {
		margin: 5% 0;
		font-family: $secondary-font;
		span {
			font-size: 1.8rem;
			font-weight: 500;
			color: $machiavellian;
			line-height: 1.61;
			letter-spacing: 1.08px;
		
		}
		.info {
			display: flex;
			justify-content: space-between;
			.text {
				display: flex;
				flex-direction: column;
				text-align: left;
				@media(max-width: "415px") {
					display: block
				}
				span {
					max-width: 200px;
					width: 100%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					@media(max-width: "1120px") {
						max-width: 100px;
					}
					@media(max-width:"700px") {
						min-width: 300px
					}
			
				}
				.text-value {
					font-family: $secondary-font;
					font-size: 2rem;
					letter-spacing: 1.2px;
					color: $machiavellian;
				}
			}
			.sidebar-icon-container {
				@include bottomBoxShadow;
				font-size: 3.2rem;
				color: $chillFi-purple;
				background-color: $franks-grey;
				border-radius: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				.sidebar-icon {
					padding: 10px;
				}
			}
		}
		.info.project-details-container {
			flex-direction: column;
			.text {
				flex-direction: row;
				justify-content: space-between;
			}
			.progress-bar {
				width: 100%;
			}
		}
		.progress,
		.info {
			margin: 6% 0;
		}
	}
	.dashboard-sidebar-footer {
		display: flex;
		flex-direction: column;
		margin: 5% 0;
		h5 {
			color: $machiavellian;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 1.2px;
			margin-bottom: 5%;
		}
	}
}
.a-container {
	color: $black-void;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin-bottom: 6%;

	.figure {
		.empty {
			height: 30px;
		}
	}
	.overlay {
		display: none;
		position: absolute;
		background-color: $franks-grey;
		z-index: 100;
		border: 1px solid $black-void;
		border-radius: 5px;
		padding: 7.5px 12.5px;
		margin-left: 25px;
		cursor: default;
		p {
			font-size: 2.5rem;
		}
	}
	.figure:hover .overlay {
		display: block;
	}
	img {
		width: 66px;
		height: 66px;
		z-index: 1;
	}
	.count {
		border-radius: 50%;
		height: 35px;
		width: 35px;
		background-color: $silver-lining;
		padding: 2px;
		margin: -15px 0 0 auto;
		z-index: 10;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
	}
}

.dashboard-stats {
	.a-container {
		p {
			color: $dark-grey;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 1.61;
			letter-spacing: 0.96px;
		}
		a {
			font-size: 1.6rem;
			@include nav-types(
				$anchor-color: $chillFi-purple,
				$visit-color: lighten($dark-grey, 10%),
				$hover-color: $ruby-enchantment
			);
		}
	}
}

.dark-mode {
	.sidebar-top {
		h3,
		h6,
		p {
			color: $snow-white;
		}
	}
	.dashboard-stats {
		color: $snow-white;
		.a-container {
			p {
				color: $snow-white;
			}
		}
	}

	.info-container {
		p,
		span {
			color: $snow-white;
		}
		.info {
			.percent {
				color: $snow-white;
			}
		}
	}
	.dashboard-sidebar {
		// to be as specific as light mode had to go this deep - MW
		.info {
			.text {
				.text-value {
					color: $silver-lining;
				}
			}
		}
	}
	.dashboard-sidebar {
		h5 {
			color: $snow-white;
		}
	
		.a-container {
			.count {
				color: $black-void;
			}
			a {
				@include nav-theme($light-theme: false);
			}
		}
	}
}
