@mixin fixedNav {
	position: sticky;
	width: 100%;
	overflow: hidden;
	background-color: $snow-white;
	top: 0;
	left: 0;
	z-index: 100;
}

// This is the button that's in the nav
// @include buttonStyler($chillFi-purple, $snow-white, none, auto 10px auto 0);
// //
@mixin buttonStyler($bgc, $textColor, $borderStyle, $margin: 8% 0) {
	font-family: 'futura-pt';
	font-size: 1.8rem;
	background: $bgc;
	color: $textColor;
	margin: $margin;
	padding: 1.6rem 2rem;
	border-radius: 0.25rem;
	border-width: 3px;
	border-color: $textColor;
	border-style: $borderStyle;
	width: 11rem;
	transition: 0.2s all ease-in-out;
	user-select: none;
	&:hover {
		background-color: darken($bgc, 9%);
		color: $textColor;
		cursor: pointer;
		border: 2px $borderStyle $bgc;
	}
	&:active {
		transform: scale(0.98);
	}
}
@mixin spaceForNav {
	margin-top: 99px;
}

@mixin testBorder($borderColor) {
	border: 1px solid $borderColor;
}

@mixin subtleBoxShadow {
	box-shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.25);
}

@mixin subtleBoxShadowDark {
	box-shadow: 0px 0px 5px 0px rgba(36, 36, 43, 0.25);
}

@mixin cardBoxShadow {
	box-shadow: 0px 4px 5px -3px rgba(10, 10, 10, 0.35);
}

@mixin bottomBoxShadow {
	box-shadow: 0px 4px 3px -3px rgba(10, 10, 10, 0.25);
}
@mixin bottomBoxShadowDark {
	box-shadow: 0px 4px 3px -3px rgba(36, 36, 43, 0.25);
}

@mixin innerBoxShadow {
	box-shadow: inset 0px 19px 10px -16px rgba(10, 10, 10, 0.25);
}

@mixin subtleBoxShadowDistance {
	box-shadow: 0px 0px 22px -10px rgba(10, 10, 10, 0.1);
}

@mixin text-shadow {
	text-shadow: 1px 1px 3px rgba(10, 10, 10, 0.25);
	transition-duration: 0.5s;
}

@mixin skeleton-section {
	// border: 1px solid $static-grey;
	border-bottom-color: $static-grey;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	// margin: 5px 10px 5px 10px;
	padding: 15px 15px 15px 15px;
}

@mixin skeleton-section-dark {
	// border: 1px solid $static-grey;
	border-bottom-color: $darkness2;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	// margin: 5px 10px 5px 10px;
	padding: 15px 15px 15px 15px;
}

/**
* mixin nav-types()
*  default colors set if no colors are given.
* $anchor-color -> anchor links color
* $visit-color -> visited links color
* $hover-color -> hover links color
* IF $decoration is injects as none in include no underline
 - MW **/
@mixin nav-types(
	$anchor-color: $text-color--nav-light,
	$visit-color: darken($erudite-purple, 10%),
	$hover-color: $cerulean,
	$decoration: underline
) {
	&:link {
		color: $anchor-color;
		@if $decoration == underline {
			text-decoration: underline;
			text-decoration-color: $anchor-color;
		} @else {
			text-decoration: none;
		}
	}

	&:visited {
		color: $visit-color;
		@if $decoration == underline {
			text-decoration: underline;
			text-decoration-color: $visit-color;
		} @else {
			text-decoration: none;
		}
	}

	&:hover {
		color: $hover-color;
		@if $decoration == underline {
			text-decoration: underline;
			text-decoration-color: $hover-color;
		} @else {
			text-decoration: none;
		}
	}
	&:active {
		color: $anchor-color;
		@if $decoration == underline {
			text-decoration: underline;
			text-decoration-color: $anchor-color;
		} @else {
			text-decoration: none;
		}
	}
}
@mixin nav-theme($light-theme: true) {
	@if $light-theme {
		$anchor-color: $anchor-color--nav-light;
		$visit-color: $visit-color--nav-light;
		$hover-color: $hover-color--nav-light;
		$decoration: underline;

		&:link {
			color: $anchor-color;
			@if $decoration == underline {
				text-decoration: underline;
				text-decoration-color: $anchor-color;
			} @else {
				text-decoration: none;
			}
		}

		&:visited {
			color: $visit-color;
			@if $decoration == underline {
				text-decoration: underline;
				text-decoration-color: $visit-color;
			} @else {
				text-decoration: none;
			}
		}

		&:hover {
			color: $hover-color;
			@if $decoration == underline {
				text-decoration: underline;
				text-decoration-color: $hover-color;
			} @else {
				text-decoration: none;
			}
		}
		&:active {
			color: $anchor-color;
			@if $decoration == underline {
				text-decoration: underline;
				text-decoration-color: $anchor-color;
			} @else {
				text-decoration: none;
			}
		}
	} @else {
		$anchor-color: $anchor-color--nav-dark;
		$visit-color: $visit-color--nav-dark;
		$hover-color: $hover-color--nav-dark;
		$decoration: underline;

		&:link {
			color: $anchor-color;
			@if $decoration == underline {
				text-decoration: underline;
				text-decoration-color: $anchor-color;
			} @else {
				text-decoration: none;
			}
		}

		&:visited {
			color: $visit-color;
			@if $decoration == underline {
				text-decoration: underline;
				text-decoration-color: $visit-color;
			} @else {
				text-decoration: none;
			}
		}

		&:hover {
			color: $hover-color;
			@if $decoration == underline {
				text-decoration: underline;
				text-decoration-color: $hover-color;
			} @else {
				text-decoration: none;
			}
		}
		&:active {
			color: $anchor-color;
			@if $decoration == underline {
				text-decoration: underline;
				text-decoration-color: $anchor-color;
			} @else {
				text-decoration: none;
			}
		}
	}
}
