html,
body{
	height: 100%;
	margin: 0;
}

.page-container {
	min-height: calc(100vh - 261px); //use calc to get window content then make space for a footer, should prevent overlapping in most cases
}
