.register-container {
	background: $blue-valentine;
	color: $snow-white;
	margin: 0 auto;
	display: flex;
	letter-spacing: 0.06em;
	height: calc(100vh - 260px);
	font-size: 1rem;

	h2 {
		font-size: 2rem;
	}
	svg {
		font-size: 3rem;
		position: fixed;
		margin: 20px;
	}
	.back-arrow {
		color: $snow-white;
		background-color: transparent;
		&:hover {
			color: $ruby-enchantment;
			background-color: transparent;
		}
		@media #{$mobile} {
			display: none;
		}
	}
	.register-container-main {
		min-height: calc(100vh - 260px);

		width: 100%;
		min-width: 320px;
		max-width: 100%;
		padding-bottom: 1%;
		padding-top: 1%;
		.register-form {
			width: 80%;
			max-width: 400px;
			margin: 0 auto;
			.register-third-party {
				margin: 0 auto;
				text-decoration: none;
				.register-welcome {
					text-align: center;
					color: $snow-white;
					height: 3.5vh;
					h1 {
						font-size: 4rem;
					}
				}
				button {
					background: $snow-white;
					width: 100%;
					margin-top: 30px;
					height: 5.7vh;
					border-radius: 8px;
					border: none;
					cursor: pointer;
				    @media #{$mobile} {
						height: 8.7vh;
					}
					&:hover {
						border: 2px solid $snow-white;
						background-color: $erudite-purple;
						color: $snow-white;
					}
					.register-button {
						display: flex;
						align-items: center;
						margin: 0 20px;
						text-decoration: none;
						img {
							margin-right: 20px;
							height: 40px;
							width: 40px;
						}
					}
				}
			}
			.register-middle {
				margin: 0 auto;
				padding: 10px 0 5px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.register-line {
					height: 1px;
					width: 40%;
					background: $snow-white;
				}
			}

			.register-local {
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				height: 25vh;
				.register-title {
					margin: 0 0 5px 0;
				}
				.register-mid {
					text-align: center;
					padding: 5px 0 0 0;
					p {
						font-style: italic;
					}
				}
				span {
					text-decoration: underline;
					font-style: italic;
					cursor: pointer;
				}
				.register-pass {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 15px 0 5px 0;
				}
				button {
					height: 6vh;
					width: 50%;
					max-width: 200px;
					background: $ruby-enchantment;
					margin: 0 auto;
					margin-top: 20px;
					border: none;
					color: $snow-white;
					font-size: 1.7rem;
					border-radius: 5px;
					cursor: pointer;
					&:hover {
						background-color: $erudite-purple;
						border: 2px solid $snow-white;
					}
				}
			}
		}
		.login-card {
			padding: 1rem 2.25rem 2.25rem;
			border-radius: 0.75rem;
			margin: 0 auto;
			background-color: rgba($mirage, 0.5);
			height: 63vh;
			@media #{$mobile} {
				height: 80vh;
			}
		}
	}

	.imgContainer {
		width: 100%;
		// height: calc(100vh - 300px);
		height: calc(100vh - 351px);
		background-image: url('https://images.pexels.com/photos/1171384/pexels-photo-1171384.jpeg?cs=srgb&dl=brown-concrete-brick-house-covered-by-green-leaf-vines-1171384.jpg&fm=jpg');
		background-repeat: no-repeat;
		// background-position: right;
		background-size: cover;

		@media #{$tablet} {
			background-size: cover;
			background-position-y: unset;
			background-position-x: 100%;
		}
		@media #{$mobile} {
			background-image: none;
			background-color: $erudite-purple;
		}
	}
}

.dark-mode {
	.imgContainer {
		width: 100%;
		// height: calc(100vh - 300px);
		height: calc(100vh - 351px);
		// background-image: url('https://images.pexels.com/photos/1171384/pexels-photo-1171384.jpeg?cs=srgb&dl=brown-concrete-brick-house-covered-by-green-leaf-vines-1171384.jpg&fm=jpg');
		background-repeat: no-repeat;
		// background-position: right;
		background-size: cover;

		@media #{$tablet} {
			background-size: cover;
			background-position-y: unset;
			background-position-x: 100%;
		}
		@media #{$tablet-small} {
		}
	}


	.register-container {
		background: $erudite-purple;
		color: $snow-white;
		.back-arrow {
			color: $snow-white;
			background-color: transparent;
			&:hover {
				color: $ruby-enchantment;
				background-color: transparent;
			}
		}
	}
}
