@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

/* Style the accordion section */
.accordion__div {
	h2 {
		margin: 3% 0% 4% 2%;
	}
}
.accordion__section {
	display: flex;
	flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	cursor: pointer;
	padding: 3rem;
	display: flex;
	align-items: center;
	border: none;
	outline: none;
	transition: background-color 0.6s ease;
	border-bottom: 2px solid #ccc;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
	background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

/* Style the accordion chevron icon */
.accordion__icon {
	margin-left: auto;
	transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
	transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
	overflow: hidden;
	transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding: 18px;
}

.dark-mode {
	background-color: #444;
	color: white;
}
