.login-container {
	background: $blue-valentine;
	color: $snow-white;
	margin: 0 auto;
	display: flex;
	letter-spacing: 0.06em;
	height: calc(100vh - 260px);
	font-size: 1rem;
	h2 {
		font-size: 2rem;
	}
	svg {
		font-size: 3rem;
		position: fixed;
		margin: 20px;
	}
	.back-arrow {
		color: $snow-white;
		background-color: transparent;
		&:hover {
			color: $ruby-enchantment;
			background-color: transparent;
		}
	}
	.login-container-main {
		min-height: calc(100vh - 260px);

		width: 100%;
		min-width: 320px;
		max-width: 100%;
		padding-bottom: 1%;
		padding-top: 1%;
		.login-form {
			width: 80%;
			max-width: 400px;
			margin: 0 auto;
			.login-third-party {
				margin: 0 auto;
				text-decoration: none;
				.login-welcome {
					text-align: center;
					color: $snow-white;
					height: 3.5vh;
					h1 {
						font-size: 4rem;
					}
				}
				button {
					height: 6vh;
					background: $snow-white;
					width: 100%;
					margin-top: 30px;
					height: 5.7vh;
					border-radius: 8px;
					border: none;
					cursor: pointer;
					@media #{$mobile} {
						height: 8.7vh;
					}
					&:hover {
						border: 2px solid $snow-white;
						background-color: $erudite-purple;
						color: $snow-white;
					}
					.login-button {
						display: flex;
						align-items: center;
						margin: 0 20px;
						text-decoration: none;
						img {
							margin-right: 20px;
							height: 40px;
							width: 40px;
						}
					}
				}
			}
			.login-middle {
				margin: 0 auto;
				padding: 10px 0 5px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.login-line {
					height: 1px;
					width: 40%;
					background: $snow-white;
				}
			}

			.login-local {
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				height: 25vh;
				.login-title {
					margin: 0 0 5px 0;
					color: $snow-white;
				}
				.login-mid {
					text-align: center;
					padding: 5px 0 0 0;
					p {
						font-style: italic;
					}
				}
				span {
					text-decoration: underline;
					font-style: italic;
					cursor: pointer;
				}
				.login-pass {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 15px 0 5px 0;
				}
				button {
					height: 40px;
					width: 50%;
					max-width: 200px;
					background: $ruby-enchantment;
					margin: 0 auto;
					margin-top: 20px;
					border: none;
					color: $snow-white;
					font-size: 1.7rem;
					border-radius: 5px;
					cursor: pointer;
					&:hover {
						background-color: $erudite-purple;
						border: 2px solid $snow-white;
					}
				}
			}

		}
			.login-card {
				padding: 1rem 2.25rem 2.25rem;
				border-radius: 0.75rem;
				margin: 0 auto;
				background-color: rgba($mirage, 0.5);
				height: 63vh;
				@media #{$mobile} {
					height: 80vh;
				}
		}
	}

	.imgContainer {
		width: 100%;
		// height: calc(100vh - 300px);
		height: calc(100vh - 351px);
		background-image: url('https://images.pexels.com/photos/834892/pexels-photo-834892.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
		background-repeat: no-repeat;
		// background-position: center;
		background-size: cover;

		@media #{$tablet} {
			background-size: cover;
			background-position-y: unset;
			background-position-x: 100%;
		}
		@media #{$tablet-small} {
		}
	}
}

.dark-mode {
	.login-container {
		background: $erudite-purple;
		// color: transparent;
	}
	.back-arrow {
		color: darken($ruby-enchantment, 5%);
		// background-color: $erudite-purple;
		&:hover {
			color: $sub-zero;
			background-color: transparent;
		}
	}
}
