@import '../../../styles/mixins';

.project-spotlight-container {
	background-color: $luigi;
	width: 100%;
	margin: 0 auto;
	margin-top: 5rem;
	@media #{$mobile} {
		height: 100%;
	}
	h2.section-title {
			font-weight: 500;
			line-height: 1;
			letter-spacing: 0.06em;
			margin: 0 auto;
			padding-bottom: 10px;
			padding-top: 35px;
			text-align: center;
			@media #{$tablet} {
				margin: 0 auto;
				text-align: center;
			}
			@media #{$mobile} {
				padding-top: 45px;
				flex-direction: column;
				font-size: 3.2rem;
				text-align: center;
			}
		}
	.project-spotlight-content{
		display: flex; 
		flex-direction: row; // content in large view will be horizontal.
		max-width: 1600px;
		margin: inherit;
		.project-spotlight {
			display: flex;
		    justify-content: space-around;
			max-width: 100%;
			background-color: $luigi;
				@media #{$tablet} {
					flex-direction: row;
				}
				@media #{$mobile} {
					flex-direction: column; // content in mobile view will be vertical.
				}

				.user-image {
					// image width container image size relative to width set within | tablet | mobile.
					width: 45%; 
					margin: 0 auto;
					@media #{$tablet} {
						width: 75%;
					}
					@media #{$mobile} {
						width: 95%;

					}
					.user-photo {
					// image width relative to image width within .user-image desktop | tablet | mobile
					width: 90%;
					margin: 30px auto;
					@media #{$tablet} {
						padding: 10px 0 15px 25px;
						width: 100%;
					}
					@media #{$mobile} {
						padding: 10px 0;
						margin: 10px auto;
						width: 100%;
						
					}
				}
			}

				.user-details {
					// width sets up box space for text content in desktop | tablet | mobile
					width: 45%;
					text-align: center;
					align-self: center;
					padding-right: 40px;
					@media #{$tablet} {
						width: 80%;
						text-align: center;
						align-self: center;
					}
					@media #{$mobile} {
						width: 100%;
						display: flex;
						justify-content: center;
						margin: 0 auto 25px;
						margin-top: 10px;
						padding: 0 20px;
						font-size: 1.8rem;

					}
				}

				p {
					margin: 5% auto 5% auto;
					letter-spacing: 0.03em;
					line-height: 180%;
					font-size: 2rem;
					font-weight: 400;
					@media #{$tablet} {
						font-size: 1.6rem;
						line-height: 190.31%;
						margin: 20px auto;
						width: 75%;
					}
					@media #{$mobile} {
						font-size: 1.4rem;
						width: 95%;
					}
				}
		    }
		}

	}


.dark-mode {
	.project-spotlight-container { 
		// to have both the container containing the header & the box holding the
		// spotlight box background must be done this way to do 2 things.
		// 1. have the same color
		// 2. cascade down so you only change color in one place. - MW
		background-color: $police-blue;
		.project-spotlight {
			background-color: inherit;
		}
	}
}

