@import '../../../styles/mixins';

.project-spotlight-container {
	background-color: $luigi;
	width: 100%;
	max-height: 720px;
	margin: 0 auto;
	margin-top: 5rem;
	padding-bottom: 150px;
	@media #{$mobile} {
		flex-direction: column;
		height: 100%;
	}
	.project-spotlight-content{
		display: flex;
		flex-direction: column;
		max-width: 1600px;
		margin: 0 auto;
		h2.section-title {
			margin: 0 auto;
			padding-top: 15px;
			line-height: 1;
			letter-spacing: 0.06em;
			font-weight: 500;
			@media #{$tablet} {
				margin: 0 auto;
				text-align: center;
			}
			@media #{$mobile} {
				font-size: 3.2rem;
				text-align: center;
			}
		}
		.project-spotlight {
			display: flex;
		    justify-content: space-between;
			width: 100%;
			background-color: $luigi;

				.user-image {
					width: 300px;
					height: 300px;
					text-align: center;
					margin: 30px auto;
					@media #{$tablet} {
						padding: 10px;
						width: 300px;
						height: 300px;
						align-items: center;
					}
					@media #{$mobile} {
						padding: 10px;
						width: 200px;
						height: 200px;
						align-items: center;
					}
				}

				.user-details {
					width: 50%;
					text-align: center;
					align-self: flex-end;
				}
				
				p {
					margin: 5% auto 5% auto;
					letter-spacing: 0.03em;
					line-height: 180%;
					font-size: 2rem;
					font-weight: 400;
					@media #{$tablet} {
						font-size: 1.6rem;
						line-height: 190.31%;
						margin: 20px auto;
						width: 75%;
					}
					@media #{$mobile} {
						font-size: 1.4rem;
						width: 95%;
					}
				}
			}
			
		}
	}


.dark-mode {
	.project-spotlight {
		background-color: $police-blue;
	}
}

